body {
    background-color: rgb(200,200,200);
	background: url("https://i.pinimg.com/originals/d4/bf/ce/d4bfce6b5294e36e6249b2452fc11eb0.jpg");
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

h1 {
	color: white;
}

h3 {
	color: white;
}

.btn1 {
  letter-spacing: 0.1px;
    font-style: bold;
    width: 150px;
    height: 40px;
    border: none;
    color: black;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 gray;
    transition: ease-out 0.5s;
    font-size: 20px;
    outline: none;
  margin: auto;
}

.btn1:hover {
  box-shadow: inset 220px 0 0 0 gray;
    color: white;
    cursor: pointer;
  font-size: 19px;
}

.btn:active {
  width: 140px;
    height: 30px;
}


.ftr a {
  color: black;
}


.ftr {
  order: 1;
  letter-spacing: 0.1px;
    font-style: bold;
    width: 200px;
    height: 20px;
    border: none;
    color: black;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 gray;
    transition: ease-out 0.35s;
    font-size: 15px;
    outline: none;
  margin: auto;
}

.ftr:hover {
  box-shadow: inset 220px 0 0 0 gray;
    color: white;
    cursor: pointer;
  font-size: 14px;
}

.ftr a:hover {
  transition: ease-out 0.15s;
  color: white;
}
